@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-datepicker/dist/react-datepicker.css";

:root {
  --color-primary: rgb(89, 210, 84); //#59d254
  --color-primary-light: rgb(166, 237, 150); //#a6ed96
  --color-primary-dark: rgb(23, 88, 13); //#17580d
  --color-primary-disabled: rgb(98, 116, 91); //#62745b
  --color-secondary: rgb(142, 108, 41); //#8e6c29
  --color-secondary-passthrough: rgba(142, 108, 41, 0.7);
  --color-secondary-light: rgb(232, 183, 93); // #f1ebe0
  --color-secondary-dark: rgb(62, 35, 28); // #382018
  --color-secondary-dark-light: rgb(74, 52, 46);
  --color-secondary-disabled: rgb(112, 97, 92);
  --color-danger: rgb(199, 34, 5); // #c72205
  --color-danger-dark: rgb(126, 23, 5);
  --color-background: rgb(255, 255, 255);
  --color-background-hex: 255, 255, 255;
  --color-background-dark: rgb(87, 87, 87);

  --color-grade-novice: rgb(41, 244, 0);
  --color-grade-hobbyist: rgb(216, 145, 12);
  --color-grade-connoisseur: rgb(0, 185, 227);
  --color-grade-scholar: rgb(0, 48, 207);
  --color-grade-worshiper: rgb(133, 0, 186);

  background-color: var(--color-background);
  color: var(--color-primary-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    // TODO handle Dark Theme
    // --foreground-rgb: 255, 255, 255;
    // --background-start-rgb: 0, 0, 0;
    // --background-end-rgb: 0, 0, 0;
  }
}

body {
  // TODO handle Dark Theme
  // color: rgb(var(--foreground-rgb));
  // background: linear-gradient(
  //     to bottom,
  //     transparent,
  //     rgb(var(--background-end-rgb))
  //   )
  //   rgb(var(--background-start-rgb));
}

// DATE PICKER

.react-datepicker {
  border-radius: 20px;

  button {
    outline: none;
  }
}

.react-datepicker__current-month {
  color: var(--color-secondary-dark);
}

.react-datepicker__day-name {
  color: var(--color-secondary-dark);
}

.react-datepicker__header {
  background-color: var(--color-secondary-light);
  color: var(--color-primary-dark);
}

.react-datepicker__day {
  color: var(--color-secondary-dark);

  &:hover {
    background-color: var(--color-secondary-light);
  }
}

.react-datepicker__day--selected {
  background-color: var(--color-primary-light);

  &:hover {
    background-color: var(--color-primary);
  }
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--color-primary-light);

  &:hover {
    background-color: var(--color-primary);
  }
}

.react-datepicker__input-container {
  input {
    padding-left: 8px;
  }
}

// TOASTIFY

.Toastify__toast-theme--colored.Toastify__toast--error {
  @apply bg-danger text-white rounded-2xl text-base;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  @apply bg-primary text-white rounded-2xl text-base;
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
  @apply bg-secondary text-white rounded-2xl text-base;
}

// GLOBAL

.globalButton {
  @apply bg-primary text-white rounded-3xl
  text-xl p-3 m-2 font-normal cursor-pointer transition-all duration-300
  hover:bg-primary-dark
  active:bg-primary-light active:text-primary-dark;
}

.globalButtonDisabled {
  @apply bg-primary-disabled hover:bg-primary-disabled active:text-white active:bg-primary-disabled;
}
