@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-datepicker/dist/react-datepicker.css";

:root {
  --color-primary: rgb(68, 182, 64); //#59d254
  --color-primary-light: rgb(166, 237, 150); //#a6ed96
  --color-primary-dark: rgb(23, 88, 13); //#17580d
  --color-primary-disabled: rgb(98, 116, 91); //#62745b
  --color-secondary: rgb(124, 96, 40); //#8e6c29
  --color-secondary-passthrough: rgba(142, 108, 41, 0.7);
  --color-secondary-light: rgb(232, 183, 93); // #f1ebe0
  --color-secondary-dark: rgb(62, 35, 28); // #382018
  --color-secondary-dark-light: rgb(74, 52, 46);
  --color-secondary-disabled: rgb(112, 97, 92);
  --color-danger: rgb(199, 34, 5); // #c72205
  --color-danger-dark: rgb(126, 23, 5);
  --color-background: rgb(255, 255, 255);
  --color-background-hex: 255, 255, 255;
  --color-background-dark: rgb(87, 87, 87);

  --color-grade-novice: rgb(68, 182, 64); //#44b640
  --color-grade-hobbyist: rgb(187, 135, 39); //#bb8727
  --color-grade-connoisseur: rgb(29, 158, 187); //#1d9ebb
  --color-grade-scholar: rgb(24, 51, 141); //#18338d
  --color-grade-worshiper: rgb(119, 46, 148); //#772e94

  --color-rarity-common: var(--color-grade-novice);
  --color-rarity-uncommon: var(--color-grade-hobbyist);
  --color-rarity-rare: var(--color-grade-connoisseur);
  --color-rarity-ultra-rare: var(--color-grade-scholar);

  --filter-rarity-common: invert(54%) sepia(94%) saturate(372%)
    hue-rotate(69deg) brightness(93%) contrast(83%);

  --filter-rarity-uncommon: invert(46%) sepia(80%) saturate(396%)
    hue-rotate(0deg) brightness(103%) contrast(94%);

  --filter-rarity-rare: invert(47%) sepia(59%) saturate(550%) hue-rotate(144deg)
    brightness(98%) contrast(98%);

  --filter-rarity-ultra-rare: invert(25%) sepia(50%) saturate(1721%)
    hue-rotate(254deg) brightness(90%) contrast(101%);

  background-color: var(--color-background);
  color: var(--color-primary-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    // TODO handle Dark Theme
    // --foreground-rgb: 255, 255, 255;
    // --background-start-rgb: 0, 0, 0;
    // --background-end-rgb: 0, 0, 0;
  }
}

body {
  // TODO handle Dark Theme
  // color: rgb(var(--foreground-rgb));
  // background: linear-gradient(
  //     to bottom,
  //     transparent,
  //     rgb(var(--background-end-rgb))
  //   )
  //   rgb(var(--background-start-rgb));
}

main {
  margin-top: 10vh;
}

// DATE PICKER

.react-datepicker {
  border-radius: 20px;

  button {
    outline: none;
  }
}

.react-datepicker__current-month {
  color: var(--color-secondary-dark);
}

.react-datepicker__day-name {
  color: var(--color-secondary-dark);
}

.react-datepicker__header {
  background-color: var(--color-secondary-light);
  color: var(--color-primary-dark);
}

.react-datepicker__day {
  color: var(--color-secondary-dark);

  &:hover {
    background-color: var(--color-secondary-light);
  }
}

.react-datepicker__day--selected {
  background-color: var(--color-primary-light);

  &:hover {
    background-color: var(--color-primary);
  }
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--color-primary-light);

  &:hover {
    background-color: var(--color-primary);
  }
}

.react-datepicker__input-container {
  input {
    padding-left: 8px;
  }
}

// TOASTIFY

.Toastify__toast-theme--colored.Toastify__toast--error {
  @apply bg-danger text-white rounded-2xl text-base;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  @apply bg-primary text-white rounded-2xl text-base;
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
  @apply bg-secondary text-white rounded-2xl text-base;
}

// GLOBAL

.globalButton {
  @apply bg-primary text-white rounded-3xl
  text-xl p-3 m-2 font-normal cursor-pointer transition-all duration-300
  hover:bg-primary-dark
  active:bg-primary-light active:text-primary-dark;
}

.globalButtonDisabled {
  @apply bg-primary-disabled hover:bg-primary-disabled active:text-white active:bg-primary-disabled;
}

// REACTIVE

@media only screen and (max-width: 1500px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 520px) {
  html {
    font-size: 12px;
  }

  main {
    margin-top: 8vh;
  }
}

@media only screen and (max-width: 460px) {
  html {
    font-size: 10px;
  }
}
