<main
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  "
>
  <h2
    style="
      font-size: 1.5rem;
      background-color: rgb(89, 210, 84);
      padding: 0.7rem;
      border-radius: 10px;
      color: white;
      text-align: center;
      font-weight: 500;
    "
  >
    Account Deletion
  </h2>
  <p style="text-align: center">
    Hi
    {{ username }}, You have not confirmed your account within the allowed time
    range. As a result, your One Day One Plant account have been deleted.
  </p>
</main>
