<div
  style="
    display: flex;
    align-items: center;
    background-color: rgb(68, 182, 64);
    color: white;
    font-size: 0.9rem;
    border-radius: 10px;
  "
>
  <img
    class="logo"
    src="{{ logo }}"
    alt="Logo"
    style="height: 5rem; margin: 0.3rem 1rem 0.3rem 0.3rem"
  />
  <h1>One Day One Plant</h1>
</div>
